@font-face {
    font-family: "sansation";
    src: url(../fonts/sansation/Sansation_Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "sansation";
    background-color: #0B1014;

    main {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        .oculto {
            display: none;
        }

        .panel {
            background-color: #303437;
            width: 100%;
            max-width: 744px;
            height: 60px;
            font-family: "sansation";
            color: #7C8E98;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 1.2rem;
            user-select: none;
            box-shadow: 0px 0px 50px 0px #131d25;
            
            h2{
                font-weight: 100;

                span {
                    animation-name: titilar;
                    animation-duration: 1.1s;
                    animation-iteration-count: infinite;
                }

                @keyframes titilar {
                    0% {
                        opacity: 1;
                    }
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }

        .table {
            div {
                display: flex;
                gap: 3rem;

                .frame {
                    width: 348px;
                    height: 278px;        
                }

                .frame:hover {
                    box-shadow: 0px 0px 50px 0px #3e586e;
                    animation-name: shadow;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    animation-direction: alternate;
                    cursor: pointer;
                }

                @keyframes shadow {
                    0% {
                        box-shadow: 0px 0px 20px 0px #2c4050;
                    }

                    100% {
                        box-shadow: 0px 0px 50px 0px #2c4050;
                    }
                }

                .frame0 {
                    background-color: #1A6E00;
                    border-top-left-radius: 50px;
                }

                .frame1 {
                    background-color: #800003;
                    border-top-right-radius: 50px;
                }

                .frame2 {
                    background-color: #B8C424;
                    border-bottom-left-radius: 50px;
                }

                .frame3 {
                    background-color: #18377E;
                    border-bottom-right-radius: 50px;
                }

            }

            div:nth-child(odd) {
                margin-bottom: 1rem;
            }

        }

        button {
            padding: .5rem 2.5rem;
            font-size: 1.8rem;
            color: #7C8E98;
            border: 1px solid #7C8E98;
            background-color: transparent;
            cursor: pointer;
            text-transform: uppercase;
            user-select: none;
        }

        button:hover {
            background-color: #7C8E98;
            color: #303437;
            transition: .7s;
            transition-timing-function: lineal;
        }

        .stop {
            border-color: red;
            color: red;
        }

        .stop:hover {
            background-color: red;
            color: #fff;
        }
    }
}

@media screen and (max-width:769px) {
   body {
       main {
            .table {

                div {
                    flex-direction: column;
                    gap: 0;
                    margin: 0;
                    
                    .frame {
                        width: 100vw;
                        height: 100px;
                    }

                    .frame0, .frame1, .frame2, .frame3 {
                        border-radius: 0;
                    }
                }
            
                div:nth-child(odd) {
                    margin: 0;            
                }
            }
       }
   }             
    
}